[Desktop Entry]
Categories=GNOME;GTK;AudioVideo;Player;
Comment[zh_CN]=简单、精巧、开源的音乐播放器
Comment=A music Player From China
Exec=iceplayer
GenericName[zh_CN]=iceplayer Media Player
GenericName=iceplayer Media Player
Icon=/usr/share/iceplayer/iceplayer.png
MimeType=video/dv;video/mpeg;video/x-mpeg;video/msvideo;video/quicktime;video/x-anim;video/x-avi;video/x-ms-asf;video/x-ms-wmv;video/x-msvideo;video/x-nsv;video/x-flc;video/x-fli;application/ogg;application/x-ogg;application/x-matroska;audio/x-mp3;audio/x-mpeg;audio/mpeg;audio/x-wav;audio/x-mpegurl;audio/x-scpls;audio/x-m4a;audio/x-ms-asf;audio/x-ms-asx;audio/x-ms-wax;application/vnd.rn-realmedia;audio/x-real-audio;audio/x-pn-realaudio;application/x-flac;audio/x-flac;application/x-shockwave-flash;misc/ultravox;audio/vnd.rn-realaudio;audio/x-pn-aiff;audio/x-pn-au;audio/x-pn-wav;audio/x-pn-windows-acm;image/vnd.rn-realpix;video/vnd.rn-realvideo;audio/x-pn-realaudio-plugin;application/x-extension-mp4;audio/mp4;video/mp4;video/mp4v-es;x-content/video-vcd;x-content/video-svcd;x-content/video-dvd;x-content/audio-cdda;x-content/audio-player;video/x-flv;
Name=Iceplayer 播放器
Name[zh_CN]=Iceplayer 播放器
Name[en_UK]=Iceplayer Meida Player
Name[en_US]=Iceplayer Meida Player
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=4.0.4
X-KDE-SubstituteUID=false
